[package]
name = "win-tts"
version = "2.1.0"
authors = ["Markus Ast <m@rkusa.st>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3"
log = "0.4"
thiserror = "1.0"
tokio = { version = "0.2", features = ["macros", "blocking"] }
win-media = { path = "../win-media" }